{% extends "base.html" %}

{% load static %}



{% block title %}Dashboard{% endblock %}

{% block content %}

            <h1>My Profile </h1>



        <div class="dashboard-container">

                <div class="trip-list">



                    <!-- Showing oveerview of all of of trips -->
                    {% for trip in all_trips %}

                
        
                        <ul>
        
                                    <!-- passing the pk of Trip to location to get locations using foreign key -->
                            <li> <a href="{% url 'triplaner:location'  pk=trip.id %}"> {{ trip.name }}</a>
                            
                               - traveling on:  {{ trip.start_date }} 
                                |
                               <a href="{% url 'triplaner:tripedit'  pk=trip.pk %}"> edit trip</a>
                                |
                               <a href="{% url 'triplaner:tripdelete'  pk=trip.pk %}"> delete trip</a>
                            
                            </li>

                            <!-- {{ trip.id }} -->
        
                        </ul>
                      
        
        
        
                    {% endfor %}
                    
                    <br>
                    <hr>
                    
                   <label><b>Hey there traveler, where are you going?</b>&nbsp;</label> <a href="{% url 'triplaner:tripadd' %}">Add Country/Continent </a>
        


                </div>


        


        </div>



        
{% endblock %}



